In [18]:
# imports
import panel as pn
pn.extension('plotly')
import plotly.express as px
import pandas as pd
import hvplot.pandas
import matplotlib.pyplot as plt
import numpy as np
import os
from pathlib import Path
from dotenv import load_dotenv

import warnings
warnings.filterwarnings('ignore')

In [19]:
# Read the census data into a Pandas DataFrame
home_value = Path("zillow_home_value_index.csv")
home_data = pd.read_csv(home_value, index_col="RegionID")
home_data.head(10)

,SizeRank,RegionName,RegionType,StateName,1/31/2000,2/29/2000,3/31/2000,4/30/2000,5/31/2000,6/30/2000,...,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021
RegionID,,,,,,,,,,,,,,,,,,,,,
102001,0,United States,Country,NaN,127090.0,127434.0,127795.0,128532.0,129274.0,130015.0,...,278389,282245,286948.0,292471,298349.0,303739.0,308359.0,312452.0,316333,320662.0
394913,1,"New York, NY",Msa,NY,223496.0,224831.0,226033.0,228398.0,230600.0,232945.0,...,523812,528535,534026.0,541165,549066.0,556634.0,562515.0,567048.0,570588,573813.0
753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,231337.0,232142.0,233376.0,235722.0,238237.0,240612.0,...,757038,768091,783767.0,803587,824502.0,837956.0,847074.0,851836.0,859045,868350.0
394463,3,"Chicago, IL",Msa,IL,168878.0,169276.0,169792.0,170824.0,171917.0,173001.0,...,260755,263775,266508.0,270301,274437.0,278525.0,281576.0,284217.0,286894,289595.0
394514,4,"Dallas-Fort Worth, TX",Msa,TX,130599.0,130703.0,130790.0,131002.0,131225.0,131411.0,...,285247,290780,297205.0,304541,312359.0,320271.0,327472.0,333559.0,339033,344919.0
394974,5,"Philadelphia, PA",Msa,PA,129467.0,129900.0,130161.0,130809.0,131333.0,131926.0,...,282880,286195,290533.0,295351,299868.0,303479.0,306335.0,308781.0,311255,313529.0
394692,6,"Houston, TX",Msa,TX,125344.0,125421.0,125303.0,125421.0,125428.0,125629.0,...,240478,242919,246069.0,251299,257071.0,263037.0,267879.0,272146.0,275290,278685.0
395209,7,"Washington, DC",Msa,DC,191958.0,192203.0,192580.0,193381.0,194493.0,195716.0,...,485371,492165,499337.0,506077,511099.0,514688.0,517135.0,519999.0,522901,526296.0
394856,8,"Miami-Fort Lauderdale, FL",Msa,FL,126632.0,127098.0,127516.0,128338.0,129013.0,129699.0,...,335376,339062,344822.0,351118,358571.0,366066.0,374275.0,382545.0,390282,397603.0
394347,9,"Atlanta, GA",Msa,GA,153624.0,154135.0,154661.0,155725.0,156766.0,157793.0,...,276690,281473,286888.0,293662,301022.0,308446.0,315500.0,322906.0,330437,338243.0

In [10]:
import numpy as np
col_nums=[]
for x in range(3,99):
    col_nums.append(x)
col_nums

[3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98]

In [20]:
# Read the census data into a Pandas DataFrame
rent = Path("zillow_observed_rent_index.csv")
rent_data = pd.read_csv(rent, index_col="RegionID")
rent_data.head(10)

,RegionName,SizeRank,2014-01,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,2014-08,...,2021-03,2021-04,2021-05,2021-06,2021-07,2021-08,2021-09,2021-10,2021-11,2021-12
RegionID,,,,,,,,,,,,,,,,,,,,,
102001,United States,0,1318.0,1324,1329.0,1334,1340,1345,1351,1356,...,1723,1741,1761,1782,1803,1824,1845.0,1867.0,1889,1911
394913,"New York, NY",1,4684.0,4705,4725.0,4746,4767,4787,4808,4829,...,5214,5255,5310,5366,5421,5481,5541.0,5601.0,5664,5728
753899,"Los Angeles-Long Beach-Anaheim, CA",2,1750.0,1761,1771.0,1782,1792,1803,1813,1824,...,2423,2443,2468,2492,2516,2541,2566.0,2592.0,2618,2644
394463,"Chicago, IL",3,1405.0,1409,1413.0,1416,1420,1423,1427,1430,...,1634,1644,1656,1668,1680,1692,1705.0,1717.0,1731,1744
394514,"Dallas-Fort Worth, TX",4,1128.0,1131,1135.0,1138,1142,1146,1149,1153,...,1517,1536,1557,1578,1599,1621,1643.0,1665.0,1688,1710
394974,"Philadelphia, PA",5,1331.0,1333,1336.0,1339,1341,1344,1346,1349,...,1628,1640,1654,1668,1682,1696,1710.0,1725.0,1740,1755
394692,"Houston, TX",6,1161.0,1168,1174.0,1181,1188,1194,1201,1207,...,1391,1403,1417,1430,1444,1458,1472.0,1486.0,1501,1515
395209,"Washington, DC",7,1772.0,1774,1777.0,1780,1783,1785,1788,1791,...,1972,1985,2002,2019,2035,2053,2071.0,2088.0,2107,2126
394856,"Miami-Fort Lauderdale, FL",8,1563.0,1570,1578.0,1586,1593,1601,1608,1616,...,2112,2150,2194,2238,2282,2327,2373.0,2419.0,2466,2513
394347,"Atlanta, GA",9,1078.0,1082,1085.0,1089,1093,1097,1101,1105,...,1642,1668,1697,1725,1754,1783,1813.0,1842.0,1872,1902

In [21]:
# Changing the date fromat for S&P 500
from datetime import datetime
home_data.index = pd.to_datetime(home_data.index)
home_data.index = home_data.index.strftime('%Y/%m')
home_data.head()

,SizeRank,RegionName,RegionType,StateName,1/31/2000,2/29/2000,3/31/2000,4/30/2000,5/31/2000,6/30/2000,...,3/31/2021,4/30/2021,5/31/2021,6/30/2021,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021
RegionID,,,,,,,,,,,,,,,,,,,,,
1970/01,0,United States,Country,NaN,127090.0,127434.0,127795.0,128532.0,129274.0,130015.0,...,278389,282245,286948.0,292471,298349.0,303739.0,308359.0,312452.0,316333,320662.0
1970/01,1,"New York, NY",Msa,NY,223496.0,224831.0,226033.0,228398.0,230600.0,232945.0,...,523812,528535,534026.0,541165,549066.0,556634.0,562515.0,567048.0,570588,573813.0
1970/01,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,231337.0,232142.0,233376.0,235722.0,238237.0,240612.0,...,757038,768091,783767.0,803587,824502.0,837956.0,847074.0,851836.0,859045,868350.0
1970/01,3,"Chicago, IL",Msa,IL,168878.0,169276.0,169792.0,170824.0,171917.0,173001.0,...,260755,263775,266508.0,270301,274437.0,278525.0,281576.0,284217.0,286894,289595.0
1970/01,4,"Dallas-Fort Worth, TX",Msa,TX,130599.0,130703.0,130790.0,131002.0,131225.0,131411.0,...,285247,290780,297205.0,304541,312359.0,320271.0,327472.0,333559.0,339033,344919.0

IndentationError: expected an indented block (3886600993.py, line 4)